* {
    box-sizing: border-box;
    margin:0;
} 

body{
    font-family:system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: white;
    overflow-x: hidden;
} 

.header {
    position: fixed;
    top:0;
    width:100%;
    z-index:1000;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter: blur(20px);
} 

.nav{
    height: 43px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding:18px 22px;
} 

.logo img{
    height: 19px;
    width: 19px;
} 

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    list-style-type: none;
    padding-top:6px;
} 

.nav-links a{
    margin-bottom:5px;
    color:rgb(34, 33, 33);
    text-decoration: none;
    font-size: 12px;
    font-weight:400;
    letter-spacing: -0.01em;
} 

.nav-right{
    display: flex;
    gap:33px;
    align-items: center;
} 

.search img{
    width:16px;
    height: 16px;
    margin-top:1px;
} 

.bag img{
    width:16px;
    height: 16px;

} 

main{
    display:flex;
    flex-direction:column;
    margin-top:43px;
} 

.hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:580px;
    padding:33px 30px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    margin-bottom: 12px; 
} 

.hero-macbook{
    background-image: url(../resources/Desktop-UI/images/1-hero_macbook_air_m5__eb1idggd120y_large.jpg);
} 

.hero-dark-text h1, .hero-dark-text p{
    color:black;
}  

.hero h1{
    font-size:3.5rem;
    font-weight:600;
} 

.hero p{
    font-size:1.7rem;
    margin:0;
}  

.hero-buttons{
    display: flex;
    gap:17px;
    margin-top: 5px; 
} 

.hero-buttons a{
    height:44px;
    font-size: 17px; 
    border-radius: 25px;
    border:1px solid rgb(0, 113, 227); 
    text-decoration: none;
    text-align: center;
    padding: 12px;
    margin-top:12px;
} 

.learn-more-btn{
    background-color: rgb(0, 113, 227);
    color: white;   
    font-weight: 300;
    width:132px;   
} 

.buy-btn{
    background-color: transparent;
    color:rgb(0, 113, 227);
    width:73px;
} 

.buy-btn:hover{
    background-color: rgb(0, 113, 227);
    color:white;
}

.hero-iPhone{
    background-image: url(../resources/Desktop-UI/images/2-hero_iphone_family__be5jkzxszb1e_large.jpg);

}

.hero-long-btn{
    width:140px;
}

.hero-ipad{
    background-image: url(../resources/Desktop-UI/images/3-promo_ipad_air_m4__bgcv7t286k8y_large.jpg);

}

.hero-ipad img{
    margin-top:15px;
    margin-bottom: -15px;
}

.visually-hidden{
    display: none;
}

.promo-section{
    margin:0px 12px;
}
.promo-grid{
    display: flex;
    flex-wrap: wrap; 
    /* gap:12px; */
    width:100%;
}

.promo-card{
    width:50%;
}


.hero-light-text h1,
.hero-light-text p{
    color:white;
}

.promo-grid h1{
    font-size: 2.5rem;
    margin-top:15px;
}

.promo-grid p{
    font-size: 1.3rem;
    line-height: 20px;
    text-align: center;
}
.promo-grid .hero-buttons a{
    font-size:14px;
    padding: 8px;
    margin-top:10px;
}
.promo-grid .learn-more-btn{
    width:107px;
    height: 37px;
}

.promo-grid .buy-btn{
    width:60px;
    height: 36px;
}

.hero-macbook-pro{
    background-image: url(../resources/Desktop-UI/images/4-promo_macbook_pro__c9td9w1mc8ia_large.jpg);
}

.hero-airpod{
    background-image: url(../resources/Desktop-UI/images/5-promo_airpods_pro_3__e4755qofhnyq_large.jpg);
}

.hero-airpod p{
    width:270px;
    text-align: center;
}
 
.hero-watch{
    background-image: url(../resources/Desktop-UI/images/6-promo_apple_watch_series_11__gnlwqxe1jlu2_large.jpg);
    width:50%;
}

.hero-watch h1{
    font-size: 2rem ;
    margin-bottom: 3px;
    font-weight: 500;
}

.promo-brand-mark{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.promo-brand-mark h1{
    margin:0;
}
.hero-apple-logo{
    height:38px;
    width:38px; 
}

.hero-iPad-pro{
    background-image: url(../resources/Desktop-UI/images/7-promo_ipad_pro__emtduc920o02_large.jpg);
}

.hero-iPad-pro p{
    width:28ch;
    text-align: center;
}

.hero-trade-in{
    background-image: url(../resources/Desktop-UI/images/8-promo_iphone_tradein__e4hrjxmgmf0i_large.jpg);
}


.hero-card{
    background-image: url(../resources/Desktop-UI/images/9-promo_apple_card__d8xz4kd4evwy_large.jpg);
}

.hero-trade-in p{
    width:250px;
    font-size:20px;
    text-align: center;  
}

sup{
    font-size: 0.7rem;
}

.hero-card p{
    width: 270px;
}

.hero-trade-in .learn-more-btn{
    width:150px;
}

.hero-card .buy-btn{
    width:100px;
}


.entertaiment-section{
    height:665px;
    background-color: whitesmoke;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    overflow-y:hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style:none;

}
.entertaiment-section::-webkit-scrollbar{
    display:none;
}

.entertaiment-title p{
    color:black;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding:30px 0;
    font-weight: bold;
    height:25%;
    margin:0;
    position: sticky;
}

.entertaiment-images{
    display: flex;
    height: 75%;
}

.entertaiment-images div{
    margin-right:12px;
    margin-bottom: 12px;
    flex:0 0 400px;
    flex-wrap: nowrap;
}


footer{
    background-color: whitesmoke;
    height: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    margin-left:162px;
    margin-right:162px;
}

footer p, a{
    color:gray;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.upper-footer{
    height:90%;
}

.copyright-links-section{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.left-section{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.right-section{
    display: flex;
    align-items: center;
    justify-content: end;
}

.privacy-links{
    display: flex;
    /* justify-content: start; */
    gap:10px;
}

.privacy-links ul{
    display: flex;
    margin:0;
    padding:0;
    list-style-type: none;
    gap:10px;
}

.right-section a, 
.privacy-links ul li a{
    text-decoration: none;
}

.author-section{
    height:40px;
    width:100%;
    background:linear-gradient(
        rgb(20, 84, 104), rgb(134, 26, 134)
    );
    color:rgb(163, 158, 158);
    text-align: center;
    padding:10px;
    font-size: 13px;
    display: flex;
    gap:8px;
    justify-content: center;
    align-items: center;
}

.author-name{
    font-weight: bold;
    color:whitesmoke;
}

.dot{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: gray;
    margin-top:3px
}

.author-section a{
    text-decoration: none;
}