* {
    box-sizing: border-box;
    margin:0;
} 

body{
    font-family:system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  
    background-color: white;
} 

.header {
    position: fixed;
    top:0;
    width:100%;
    z-index:1000;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter: blur(20px);
} 

.nav{
    height: 43px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding:18px 22px;
} 

.logo img{
    height: 19px;
    width: 19px;
} 

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    list-style-type: none;
    padding-top:6px;
} 

.nav-links a{
    margin-bottom:5px;
    color:rgb(34, 33, 33);
    text-decoration: none;
    font-size: 12px;
    font-weight:400;
    letter-spacing: -0.01em;
} 

.nav-right{
    display: flex;
    gap:33px;
    align-items: center;
} 

.search img{
    width:16px;
    height: 16px;
    margin-top:1px;
} 

.bag img{
    width:16px;
    height: 16px;

} 

main{
    display:flex;
    flex-direction:column;
    margin-top:43px;
} 

.hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:580px;
    padding:33px 30px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    margin-bottom: 12px; 
} 

.hero-macbook{
    background-image: url(../resources/Desktop-UI/images/1-hero_macbook_air_m5__eb1idggd120y_large.jpg);
} 

.hero-dark-text h1, .hero-dark-text p{
    color:black;
}  

.hero h1{
    font-size:3.5rem;
    font-weight:600;
} 

.hero p{
    font-size:1.7rem;
    margin:0;
}  

.hero-buttons{
    display: flex;
    gap:17px;
    margin-top: 5px; 
} 

.hero-buttons a{
    height:44px;
    font-size: 17px; 
    border-radius: 25px;
    border:1px solid rgb(0, 113, 227); 
    text-decoration: none;
    text-align: center;
    padding: 9px;
    margin-top:12px;
} 

.learn-more-btn{
    background-color: rgb(0, 113, 227);
    color: white;   
    font-weight: 300;
    width:132px;   
} 

.buy-btn{
    background-color: transparent;
    color:rgb(0, 113, 227);
    width:73px;
} 

.buy-btn:hover{
    background-color: rgb(0, 113, 227);
    color:white;
}

.hero-iPhone{
    background-image: url(../resources/Desktop-UI/images/2-hero_iphone_family__be5jkzxszb1e_large.jpg);

}

.hero-long-btn{
    width:140px;
}

.hero-ipad{
    background-image: url(../resources/Desktop-UI/images/3-promo_ipad_air_m4__bgcv7t286k8y_large.jpg);

}

.hero-ipad img{
    margin-top:15px;
    margin-bottom: -15px;
}

.visually-hidden{
    display: none;
}

.promo-section{
    margin:0px 12px;
}
.promo-grid{
    display: flex;
    flex-wrap: wrap; 
    /* gap:12px; */
    width:100%;
}

.promo-card{
    width:50%;
}


.hero-light-text h1,
.hero-light-text p{
    color:white;
}

.promo-grid h1{
    font-size: 2.5rem;
    margin-top:15px;
}

.promo-grid p{
    font-size: 1.3rem;
    line-height: 20px;
    text-align: center;
}
.promo-grid .hero-buttons a{
    font-size:14px;
    padding: 8px;
    margin-top:10px;
}
.promo-grid .learn-more-btn{
    width:107px;
    height: 37px;
}

.promo-grid .buy-btn{
    width:60px;
    height: 36px;
}

.hero-macbook-pro{
    background-image: url(../resources/Desktop-UI/images/4-promo_macbook_pro__c9td9w1mc8ia_large.jpg);
}

.hero-airpod{
    background-image: url(../resources/Desktop-UI/images/5-promo_airpods_pro_3__e4755qofhnyq_large.jpg);
}

.hero-airpod p{
    width:270px;
    text-align: center;
}
 
.hero-watch{
    background-image: url(../resources/Desktop-UI/images/6-promo_apple_watch_series_11__gnlwqxe1jlu2_large.jpg);
    width:50%;
}

.hero-watch h1{
    font-size: 2rem ;
    margin-bottom: 3px;
    font-weight: 500;
}

.promo-brand-mark{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.promo-brand-mark h1{
    margin:0;
}
.hero-apple-logo{
    height:38px;
    width:38px; 
}

.hero-iPad-pro{
    background-image: url(../resources/Desktop-UI/images/7-promo_ipad_pro__emtduc920o02_large.jpg);
}

.hero-iPad-pro p{
    width:28ch;
    text-align: center;
}

.hero-trade-in{
    background-image: url(../resources/Desktop-UI/images/8-promo_iphone_tradein__e4hrjxmgmf0i_large.jpg);
}


.hero-card{
    background-image: url(../resources/Desktop-UI/images/9-promo_apple_card__d8xz4kd4evwy_large.jpg);
}

.hero-trade-in p{
    width:250px;
    font-size:20px;
    text-align: center;  
}

sup{
    font-size: 0.7rem;
}

.hero-card p{
    width: 270px;
}

.hero-trade-in .learn-more-btn{
    width:150px;
}

.hero-card .buy-btn{
    width:100px;
}


.entertainment-section{
    display:flex;
    flex-direction: column;
    height: 957px;
    background-color: whitesmoke;
    padding: 30px 12px;
    gap:20px;
}

.entertainment-header h1{
    font-size: 57px;
    font-weight:500;
    letter-spacing:-0.85px;
    text-align:center;
}
.entertainment-carousel{
    display:flex;
    flex-direction: column;
    gap:12px;

}



.featured-gallery{
    display:flex;
    gap:12px;
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
    scrollbar-width:none;
    -ms-overflowo-style:none;
    scroll-behavior:smooth;
    -webkit-overflow-scrolling:touch;
}

.featured-gallery::-webkit-scrollbar{
    display:none;
}

.entertainment-large-card{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height:523px;
    width:930px;
    position:relative;
    flex-shrink:0;
}

.entertainment-description{
    display:flex;
    position:absolute;
    bottom:40px;
    left:50px;
    gap:12px;
    justify-content:center;
    align-items:center;
    
}

.stream-button{
    font-size:18px;
    font-weight:400;
    letter-spacing:-0.80px;
    background-color: white;
    color:rgb(24, 24, 24);
    padding:8px;
    width:133px;
    height:43px;
    border-radius: 25px;
    text-align:center;
    margin:0;
}

.card-description{
    display:flex;
    gap:10px;
    align-items:center;
    text-shadow: 0 0 2px black;
}

.entertainment-description p{
    color:white;
    font-size:20px;
    margin:0;
}

.desc-title{
    font-weight:700;
}

.desc-text{ 
    font-weight:500;
}

.description-devider{
    width:5px;
    height:5px;
    border-radius:50%;
    background-color: #fff;
    margin-top:3px;
}

.featured-card-1{
    background-image: url(../resources/Desktop-UI/images/10.1-980x522sr.jpg);
}

.featured-card-2{
    background-image:url(../resources/Desktop-UI/images/10.2-980x522sr\ \(2\).jpg)
}

.featured-card-3{
    background-image: url(../resources/Desktop-UI/images/10.3-980x522sr.jpg);
}

.featured-card-4{
    background-image: url(../resources/Desktop-UI/images/10.4-980x522sr.jpg);
}

.featured-card-5{
    background-image: url(../resources/Desktop-UI/images/10.5-980x522sr.jpg);
}
.featured-card-5 .stream-button{
    width: 160px;
}

.featured-card-6{
    background-image: url(../resources/Desktop-UI/images/10.6-980x522sr.jpg);
}

.featured-card-7{
    background-image: url(../resources/Desktop-UI/images/10.7-980x522sr.jpg);
}
.featured-card-8{
    background-image: url(../resources/Desktop-UI/images/10.8-980x522sr.jpg);
}
.featured-card-9{
    background-image: url(../resources/Desktop-UI/images/10.9-980x522sr.jpg);
}


.featured-card-7 .stream-button,
.featured-card-9 .stream-button{
    width: 170px;
}
.secondary-gallery{
    display:flex;
    gap:12px;
    height: 234px;
    overflow-x:auto;
    overflow-y:hidden;
    scrollbar-width:none;
    -ms-overflow-style:none;
    -webkit-overflow-scrolling:touch;
    scroll-behavior:smooth;
}
.secondary-gallery::-webkit-scrollbar{
    display:none;
}

.entertainment-small-card{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height:247px;
    width:417px;
    position:relative;
    flex-shrink:0;
}

.entertainment-small-card .promo-brand-mark{
    position:absolute;
    top:12px;
    right:15px;
    color:white;
    font-weight:500;
    font-size:19px;
}
.entertainment-small-card .promo-brand-mark img{
    width:20px;
    height:20px;
}

.secondary-gallery .entertainment-description{
    position:absolute;
    bottom:15px;
    left:15px;
    right:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.secondary-gallery .stream-button{
    font-size:14px;
    width: 90px;
    height: 35px;
    padding: 7px;

}

.secondary-gallery .entertainment-description p{
    font-size:15px;
    font-weight:700;
}
.entertainment-card-1{
    background-image: url(../resources/Desktop-UI/images/11.1-196x196SC.DN01.jpg);
}

.entertainment-card-1 .entertainment-description,
.entertainment-card-4 .entertainment-description,
.entertainment-card-7 .entertainment-description{
    left:300px;
}
.entertainment-card-2{
    background-image: url(../resources/Desktop-UI/images/11.2-417x234.jpg);
}

.entertainment-card-3{
    background-image: url(../resources/Desktop-UI/images/11.3-417x234.jpg);
}

.entertainment-card-3 .stream-button{
    width: 100px;
}

.entertainment-card-4{
    background-image: url(../resources/Desktop-UI/images/11.4-196x196sr.jpg);
}

.entertainment-card-5{
    background-image: url(../resources/Desktop-UI/images/11.5-417x234.jpg);
}

.entertainment-card-6{
    background-image: url(../resources/Desktop-UI/images/11.6-417x234.jpg);
}

.entertainment-card-7{
    background-image: url(../resources/Desktop-UI/images/11.7-196x196SC.DN01.jpg);
}

.entertainment-card-8{
    background-image: url(../resources/Desktop-UI/images/11.9-834x468.jpg);
}

.entertainment-card-9{
    background-image: url(../resources/Desktop-UI/images/11.8-417x234.jpg);
}

.dot-navigation{
    display:flex;
    justify-content: center;
    gap:12px;
    margin:8px;
}

.dot-navigation span{
    width:8px;
    height:8px;
    border-radius:50%;
    background-color:gray;
}

footer{
    height:900px;
    background-color: whitesmoke;
}

