body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.logo{
    height: 20px;
    width:20px;
}

nav{
    height: 43px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    position: fixed;
    padding:0px 22px;
    /* margin-left:162px; */
    /* margin-right:162px; */
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin:0;
    list-style-type: none;

}

nav ul li a{
    color:rgb(70, 68, 68);
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 12px;
    margin-bottom:5px;
    font-weight: lighter;

}


.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-image: url(resources/Desktop-UI/images/1-hero_macbook_air_m5__eb1idggd120y_large.jpg);

    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-color: rgb(26, 25, 25);

    height:500px;
    padding: 60px 30px;
    margin-bottom: 10px;
    gap:5px;
    
}

.hero-section p{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-title{
    font-size: 55px;
    font-weight:600;
    margin:0;
}

.hero-desc{
    font-size: 28px;
    margin:0;
}

.mac-book{
   padding-top:90px;
}


.btns{
    display: flex;
    gap:15px;
    margin-top: 5px;
    
}

button{
    border-radius: 25px;
    width:140px;
    height:47px;
    border:1px solid #0066CC;
    color: white;
    font-size: 18px;
}

.learn-more-btn{
    background-color: #0066CC;
    
    font-weight: 300;
    
    
}

.buy-btn{
    background-color: transparent;
    color:#0066CC;
    width:78px;

}

.product-section{
    background-image: url(resources/Desktop-UI/images/2-hero_iphone_family__be5jkzxszb1e_large.jpg);

}

.product-section p{
    color: black;
}

.product-section .buy-btn{
    width:140px;
}

.ipad{
    background-image: url(resources/Desktop-UI/images/3-promo_ipad_air_m4__bgcv7t286k8y_large.jpg);
}

.two-sections{
    display: flex;
    width:100%;
    align-items: flex-start;   
}

.two-sections p{
    color:white;
}

.macBook-pro{
    background-image: url(resources/Desktop-UI/images/4-promo_macbook_pro__c9td9w1mc8ia_large.jpg);
    width:50%;
    margin-top:6px;
    margin-left:6px;
    margin-bottom: 6px;
    margin-right:13px;
    padding: 25px 30px;
}

.pro-title{
    font-size: 39px;
    margin-top:15px;
}

.pro-desc{
    font-size:22px;
    line-height: 24px;
}

.two-sections button{
    font-size:15px;
}
.two-sections .learn-more-btn{
    width:110px;
    height: 37px;
}

.two-sections .buy-btn{
    width:60px;
    height: 37px;
}


.air-pod{
    background-image: url(resources/Desktop-UI/images/5-promo_airpods_pro_3__e4755qofhnyq_large.jpg);
    width:50%;
    margin-top:6px;
    margin-right:6px;
    margin-bottom: 6px;
    margin-left:13px;
    padding: 45px 30px;
}

.air-pod p{
    color: black;
}
.air-pod .pro-desc{
    width:250px;
    font-size:20px;
    text-align: center;
} 

.watch{
    background-image: url(resources/Desktop-UI/images/6-promo_apple_watch_series_11__gnlwqxe1jlu2_large.jpg);
    width:50%;
    margin-top:6px;
    margin-left:6px;
    margin-bottom: 6px;
    margin-right:13px;
    padding: 45px 30px;
}

.watch p{
    color:black;
}
.watch-logo{
    height:35px;
    width:35px;
    
}
.iPad-pro{
    background-image: url(resources/Desktop-UI/images/7-promo_ipad_pro__emtduc920o02_large.jpg);
    width:50%;
    margin-top:6px;
    margin-left:6px;
    margin-bottom: 6px;
    margin-right:13px;
    padding: 45px 30px;

}

.iPad-pro .pro-desc{
    width:310px;
    text-align: center;
}

/* .air-pod .learn-more-btn{
    background-color: white;
    color:rgb(39, 38, 38);
    border:1px solid white;
}

.air-pod .buy-btn{
    border: 1px solid white;
    color:white;
}
*/


.watch .pro-title{
    font-weight: 500;
    font-size: 32px;
}

.card{
    background-image: url(resources/Desktop-UI/images/9-promo_apple_card__d8xz4kd4evwy_large.jpg);
    width:50%;
    margin-top:6px;
    margin-left:6px;
    margin-bottom: 6px;
    margin-right:13px;
    padding: 45px 30px;
}

.trade-in{
    background-image: url(resources/Desktop-UI/images/8-promo_iphone_tradein__e4hrjxmgmf0i_large.jpg);
    width:50%;
    margin-top:6px;
    margin-right:6px;
    margin-bottom: 6px;
    margin-left:13px;
    padding: 45px 30px;
}

.trade-in p{
    color:black;
}

.card p{
    color:black;
}

.trade-card .pro-desc{
    
        width:250px;
        font-size:20px;
        text-align: center;
    
}

.card .pro-desc{
    width: 270px;
}

.trade-in .learn-more-btn{
    width:150px;
}

.card .buy-btn{
    width:100px;
}

.entertaiment-section{
    height:665px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.entertaiment-title p{
    color:black;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding:30px 0;
    font-weight: bold;
    height:25%;
    margin:0;
}

.entertaiment-images{
    display: flex;
    height: 75%;
}

.entertaiment-images div{
    margin-right:12px;
    margin-bottom: 12px;
}

.entertaiment-cards-section{
    height:304px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;

}

.cards-images{
    display: flex;
    width:417px;
    height: 80%;
    justify-content: space-between;
}

.cards-images div{
    margin-right:12px;
}

.small-img{
    border: 1px solid black;
    width:417px;
    height: 234px;
}

.small-img img{
    padding-left:15px;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:215px;
    height:196px;
    width:196px;
    border-radius: 25px;
}
.entertaiment-cards-icons{
    height: 20%;
    margin-top:8px;
    margin-bottom:10px
}

footer{
    background-color: rgb(250, 247, 247);
    height: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    margin-left:162px;
    margin-right:162px;
}

footer p, a{
    color:gray;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.upper-footer{
    height:90%;
}

.copyright-links-section{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.left-section{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.right-section{
    display: flex;
    align-items: center;
    justify-content: end;
}

.privacy-links{
    display: flex;
    /* justify-content: start; */
    gap:10px;
}

.privacy-links ul{
    display: flex;
    margin:0;
    padding:0;
    list-style-type: none;
    gap:10px;
}

.right-section a, 
.privacy-links ul li a{
    text-decoration: none;
}
